<div id="first">
    <p>I am the first div...</p>
    <script type="text/javascript">
    $("#js-results").after("<p>The #first div script executed...</p>");
    </script>
</div>
<div id="second">
    <p>I am the second div...</p>
    <script type="text/javascript">
        $("#js-results").after("<p>And #second div javascript has been executed!</p>");
    </script>
</div>
